/*- Custom style -*/
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

body{
    opacity:0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s; /* Safari */
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.75rem 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li a {
    color: #222222
}
